.about-author {
  float: left;
  width: 500px;
  height: 600px;
  background-color: white;
  padding: 40px 40px 40px 40px;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}
