@media (max-width: 1000px){
  .about-author {
    position: relative;
    top: 600px;
  }
}

.about-author {
  float: left;
  width: 500px;
  height: 600px;
  background-color: white;
  padding: 40px 40px 40px 40px;
}
